<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- anclaje a hoja de estilo -->
    <link rel="stylesheet" href="../css/style.css">    
    <title>Mi Carrito - Franco Colapinto Alpine F1</title>
    <link rel="icon" href="../img/43_mono.png" type="image/png">
</head>
<body class="fondo-tienda">
    <header>
         <!-- lista desordenada con links de navegación -->
         <nav class="navbar-principal">
                <ul> 
                    <li class="logo-principal"><a href="https://francolapinto.com" target="_blank"><img src="../img/logoFC43.png" alt="logo número de Franco Colapinto"></a></li>
                    <li><a href="../../index.html"> INICIO</a></li>
                    <li><a href="./tienda.html">TIENDA</a></li>
                    <li><a href="./contacto.html">CONTACTO</a></li>
                    <li><a href="./carrito.html" class="enlace-carrito"><svg class="icono-carrito" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 11V7a4 4 0 0 0-8 0v4M5 9h14l1 12H4L5 9z"></path></svg><span class="count"></span></a></li>
                </ul>
            </nav> 
    </header>
    
    <main>
        <section class="destacados"> 
            <h2 class="titulo-carrito">TU <span class="titulo-carrito-destacado">COMPRA</span></h2>
            <h3 class="subtitulo-carrito">REVISÁ LOS PRODUCTOS AGREGADOS A TU CARRITO</h3>
            
            <!-- contenedor donde JS cargará los productos dinámicamente -->
            <div id="carrito-contenedor" class="productos-grid">
                <!-- se rellena con JavaScript -->
            </div>

            <!-- resumen del total de la compra -->
            <div class="carrito-resumen">
                <p>TOTAL: <span id="carrito-total">$0</span></p>
                <div class="carrito-acciones">
                    <button id="vaciar-carrito" class="btn-vaciar">VACIAR CARRITO</button>
                    <button id="finalizar-compra" class="btn-finalizar">FINALIZAR COMPRA</button>
                </div>
            </div>
        </section>
    </main>

    <footer>
            <div class="footer-izquierdo">
                <a href="https://www.francolapinto.com" target="_blank"><img src="../img/logo43_blanco.png" alt="página web oficial de Franco Colapinto"></a>
            </div>
            <div class="footer-centro">
                <p>Sitio no oficial. Entrega del proyecto final del curso Frontend JS de Talento Tech - Melisa Latorre.<br> Las imágenes, marcas y contenido relacionado con Franco Colapinto y Alpine pertenecen a sus respectivos propietarios.</p>
            </div>
            <div class="footer-derecho">
                <a href="https://www.instagram.com/francolapinto" target="_blank"><img src="../img/instagram.svg" alt="instagram oficial de Franco Colapinto"></a>
                <a href="https://www.x.com/francolapinto" target="_blank"><img src="../img/x.svg" alt="x oficial de Franco Colapinto"></a>
                <a href="https://www.tiktok.com/@francolapinto" target="_blank"><img src="../img/tiktok.svg" alt="tiktok oficial de Franco Colapinto"></a>
            </div>
    </footer>
    
    <script src="../js/carrito.js"></script>
</body>
</html>