<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- anclaje a hoja de estilo -->
    <link rel="stylesheet" href="../css/style.css">    
    <title> Alpine F1 Team driver - Franco Colapinto </title>
     <link rel="icon" href="../img/43_mono.png" type="image/png">

</head>
<body>
    <header>
         <!-- lista desordenada con links de navegación, rutas relativas y absoluta-->
        <nav class="navbar-principal">
               <ul>
                    <li class="logo-principal"><a href="https://francolapinto.com" target="_blank"><img src="../img/logoFC43.png" alt="logo número de Franco Colapinto"></a></li>
                    <li><a href="../../index.html"> INICIO</a></li>
                    <li><a href="../views/tienda.html">TIENDA</a></li>
                    <li><a href="../views/carrito.html">MI CARRITO <span class="count">0</span></a></li>
                    <li><a href="../views/contacto.html">CONTACTO</a></li>
                </ul>
            </nav> 
    </header>
     <main>
        <!-- formulario de contacto, usé formspree -->
         <section class="contacto">
               <h2>DEJANOS TU MENSAJE.
               <br>NOS CONTACTAREMOS A LA BREVEDAD.</h2>
                 <form action="https://formspree.io/f/xdajevnr" method="POST">
                    <!-- información personal -->
                    <label for="nombre">NOMBRE</label>
                     <input type="text" id="nombre" name="nombre" placeholder="NOMBRE" required>
                    <label for="apellido">APELLIDO</label>
                     <input type="text" id="apellido" name="apellido" placeholder="APELLIDO" required>
                    <label for="email">EMAIL</label>
                     <input type="email" id="email" name="email" placeholder="EMAIL" required>
                    <label for="pais">PAÍS</label>
                     <select id="pais" name="pais" required>
                      <option value="">¿Desde dónde nos contactás?</option>
                      <option value="Argentina">ARGENTINA</option>
                      <option value="Chile">CHILE</option>
                      <option value="Uruguay">URUGUAY</option>
                      <option value="Brasil">BRASIL</option>
                      <option value="Perú">PERÚ</option>
                      <option value="Bolivia">BOLIVIA</option>
                      <option value="Paraguay">PARAGUAY</option>
                      <option value="Colombia">COLOMBIA</option>
                      <option value="Venezuela">VENEZUELA</option>
                     </select>
                    <label for="mensaje">ESCRIBÍ TU MENSAJE</label>
                     <textarea id="mensaje" name="mensaje" rows="6" placeholder="ESCRIBÍ TU MENSAJE ACÁ" required></textarea>
                  <div class="botones-contacto">
                    <button type="submit">ENVIAR</button>
                    <button type="reset">BORRAR</button>
                  </div>
                 </form>
         </section>
     </main>
    <footer>
        <!-- pie de página con redes sociales, los iconos son de la página yesicon, rutas absolutas para enlaces y relativas para imágenes -->
            <div class="footer-izquierdo">
                <a href="https://www.francolapinto.com" target="_blank"><img src="../img/logo43_blanco.png" alt="página web oficial de Franco Colapinto"></a>
            </div>
            <div class="footer-centro">
                <p>Sitio no oficial. Pre-entrega del proyecto final del curso Frontend JS de Talento Tech - Melisa Latorre.<br> Las imágenes, marcas y contenido relacionado con Franco Colapinto y Alpine pertenecen a sus respectivos propietarios.</p>
            </div>
            <div class="footer-derecho">
                <a href="https://www.instagram.com/francolapinto" target="_blank"><img src="../img/instagram.svg" alt="instagram oficial de Franco Colapinto"></a>
                <a href="https://www.x.com/francolapinto" target="_blank"><img src="../img/x.svg" alt="x oficial de Franco Colapinto"></a>
                <a href="https://www.tiktok.com/@francolapinto" target="_blank"><img src="../img/tiktok.svg" alt="tiktok oficial de Franco Colapinto"></a>
            </div>
    </footer>

    <script src="../js/contador-global.js"></script>
</body>
</html>