<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--ANCLAJE A HOJA DE ESTILO-->
    <link rel="stylesheet" href="public/css/style.css">
    <title> FC </title> 
</head>
<body>
    <header>
         <nav>
        <!-- links de navegación -->
        </nav>
    </header>
     <h1> Franco Colapinto </h1>
     <main>
        <!-- lo más importante de la página -->
     </main>
    <footer>
        <!-- pie de página -->
    </footer>
</body>
</html>