<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- anclaje a hoja de estilo -->
    <link rel="stylesheet" href="../css/style.css">    
    <title> Franco Colapinto Tienda Oficial - Alpine F1 Team </title>
    <link rel="icon" href="../img/43_mono.png" type="image/png">
</head>
<body class="fondo-tienda">
    <header>
         <!-- lista desordenada con links de navegación, rutas relativas -->
         <nav class="navbar-principal">
                <ul> 
                    <li class="logo-principal"><a href="https://francolapinto.com" target="_blank"><img src="../img/logoFC43.png" alt="logo número de Franco Colapinto"></a></li>
                    <li><a href="../../index.html"> INICIO</a></li>
                    <li><a href="../views/tienda.html">TIENDA</a></li>
                    <li><a href="../views/contacto.html">CONTACTO</a></li>
                    <li><a href="./carrito.html" class="enlace-carrito"><svg class="icono-carrito" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 11V7a4 4 0 0 0-8 0v4M5 9h14l1 12H4L5 9z"></path></svg><span class="count"></span></a> </li>
                </ul>
            </nav> 
    </header>
     <main>
        <!-- productos -->
        <section class="destacados"> 
     <h2 class="titulo-tienda">PRODUCTOS <span class="titulo-tienda-destacados">DESTACADOS</span></h2>
     <h3 class="subtitulo-tienda">Descubrí lo mejor de la colección oficial de Franco Colapinto</h3>
  
     <div class="productos-grid">

    <!-- producto 1 -->
    <article class="card">
      <img src="../img/gorra.png" alt="Gorra Alpine">
      <h3>GORRA ALPINE</h3>
      <p class="precio">$40.000</p>
      <button>COMPRAR</button>
    </article>

    <!-- producto 2 -->
    <article class="card">
      <img src="../img/buzo1.png" alt="Buzo con capucha Alpine">
      <h3>BUZO CON CAPUCHA ALPINE</h3>
      <p class="precio">$80.000</p>
      <button>COMPRAR</button>
    </article>

    <!-- producto 3 -->
    <article class="card">
      <img src="../img/campera2.png" alt="Chaqueta negra y blanca Alpine">
      <h3>CHAQUETA NEGRA Y BLANCA ALPINE</h3>
      <p class="precio">$150.000</p>
      <button>COMPRAR</button>
    </article>

    <!-- producto 4 -->
    <article class="card">
      <img src="../img/remera.png" alt="Remera 43 Alpine">
      <h3>REMERA 43 ALPINE</h3>
      <p class="precio">$50.000</p>
      <button>COMPRAR</button>
    </article>

    <!-- producto 5 -->
    <article class="card">
      <img src="../img/autoescala.png" alt="Auto de colección Alpine A526">
      <h3>AUTO DE COLECCIÓN ALPINE A526</h3>
      <p class="precio">$50.000</p>
      <button>COMPRAR</button>
    </article>

    <!-- producto 6 -->
    <article class="card">
      <img src="../img/zapatillas.png" alt="Zapatillas Alpine">
      <h3>ZAPATILLAS BLANCO Y AZUL ALPINE</h3>
      <p class="precio">$180.000</p>
      <button>COMPRAR</button>
    </article>
  </div>
</section>

     <!-- reseñas -->
      <section class="reseñas">
       <h2 class="titulo-reseñas">LO QUE OPINAN NUESTROS CLIENTES:</h2>
       <div class="reseñas-grid">

         <article class="reseña-card">
          <p class="reseña-texto">“Excelente calidad de los productos. Llegó todo en perfecto estado y antes de lo esperado.”</p>
          <span class="nombre-reseña"> María L.</span>
         </article>

         <article class="reseña-card">
          <p class="reseña-texto">“Muy buena experiencia de compra, las prendas son tal cual las fotos.”</p>
          <span class="nombre-reseña"> Pablo M.</span>
         </article>

         <article class="reseña-card">
          <p class="reseña-texto">“Diseño increíble y materiales de primera calidad. Volvería a comprar sin dudas.”</p>
          <span class="nombre-reseña"> Sofía T.</span>
         </article>
      </div>
</section>


     </main>
    <footer>
        <!-- pie de página con redes sociales, los iconos son de la página yesicon, rutas absolutas para enlaces y relativas para imágenes -->
            <div class="footer-izquierdo">
                <a href="https://www.francolapinto.com" target="_blank"><img src="../img/logo43_blanco.png" alt="página web oficial de Franco Colapinto"></a>
            </div>
            <div class="footer-centro">
                <p>Sitio no oficial. Entrega del proyecto final del curso Frontend JS de Talento Tech - Melisa Latorre.<br> Las imágenes, marcas y contenido relacionado con Franco Colapinto y Alpine pertenecen a sus respectivos propietarios.</p>
            </div>
            <div class="footer-derecho">
                <a href="https://www.instagram.com/francolapinto" target="_blank"><img src="../img/instagram.svg" alt="instagram oficial de Franco Colapinto"></a>
                <a href="https://www.x.com/francolapinto" target="_blank"><img src="../img/x.svg" alt="x oficial de Franco Colapinto"></a>
                <a href="https://www.tiktok.com/@francolapinto" target="_blank"><img src="../img/tiktok.svg" alt="tiktok oficial de Franco Colapinto"></a>
            </div>
    </footer>
    
    <script src="../js/main.js"></script>
</body>
</html>