body {
    background-color:black;
}
p {
    color:white;
}











/* footer */
footer {
    display: flex;
    align-items: center;
    padding: 30px 20px;
}

.footer-izquierdo, .footer-centro, .footer-derecho {
    flex: 1;
}

.footer-izquierdo{
    display: flex;
    justify-content: flex-start;
}

.footer-centro{
    text-align: center;
    font-size: 12px; 
}

.footer-derecho{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

footer img {
    width: 32px;
}

footer li:first-child img{
    width: 40px;
}


