

/*colores a usar:
 azul oscuro: #0a204b 
 rosa: #fa84ba;
 azul celeste: #0663b8;
*/


/*fuentes de google*/

@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


p {
    color:#000000;
}


/*body*/

body {
  margin: 0;
  background-color: #ffffff; 
  font-family: "League Gothic", sans-serif;
  color: #02192B; 
}


/* header, estilos para el navbar principal */ 

nav {
  background-color: #0a204b; 
  color: #ffffff; 
  padding: 10px;
  border-bottom: 7px solid #0663b8; 
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
    padding: 0 20px;
    gap: 40px;
}

.logo-principal img {
    width: 50px;
}

.navbar a {
    font-family: "League Gothic", sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #0663b8;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.navbar a{
    transition: all 0.3s ease;
}

.navbar a:hover{
    opacity: 0.7;
    color: #fa84ba;
}

/* query para el navbar */ 

@media (max-width: 768px) {
  .logo-principal  {
    display: none;
  }
   .navbar {
    justify-content: center;
  }
}


/* footer */

footer {
    display: flex;
    align-items: center;
    background-color: #0a204b;
    color: #ffffff;
    padding: 40px 20px;
    margin-top: 50px;
    border-top: 7px solid #0663b8; 
}

.footer-izquierdo, .footer-centro, .footer-derecho {
    flex: 1;
}

.footer-izquierdo{
    display: flex;
    justify-content: flex-start;
}

.footer-centro{
    text-align: center;
}

.footer-centro p {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.footer-derecho{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

footer img {
    width: 32px;
}

footer li:first-child img{
    width: 40px;
}

/* query para el footer */
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  
  .footer-izquierdo, .footer-centro, .footer-derecho {
    flex: none;
  }
  
  .footer-izquierdo {
    justify-content: center;
  }
  
  .footer-derecho {
    justify-content: center;
  }
}

/* tienda */
.titulo-tienda {
    text-align: center;
    font-size: 2rem;
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 40px;
    padding-top: 15px 15px;;
    font-family: "League Gothic", sans-serif;
    letter-spacing: 2px;
    width: 100%;
    background-color: #fa84ba;
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 0 25px;
}

/* media query para productos*/
@media (max-width: 768px) {
  .productos-grid {
    grid-template-columns: 1fr;
  }
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  background: #ffffff;
}

.card img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.card h3 {
  font-size: 18px;
  margin: 10px;
}

.precio {
  margin: 0 10px 10px;
}

.productos-grid button {
  margin: 10px;
  padding: 8px;
  border: none;
  border-radius: 12px;
  background-color:#fa84ba;
  color:#FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.productos-grid button:hover {
  background-color: #0663b8;
  color: #ffffff;
}

/* reseñas */

.reseñas {
  text-align: center;
  padding: 50px 20px;
  font-family: "Montserrat", sans-serif;
}


.reseñas-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
}

.reseña-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 140px;
  box-shadow: 0 4px 12px rgba(250, 132, 186, 0.25);
}


.reseña-texto {
  font-size: 18px;
  line-height: 1.4;
  font-style: italic;
  font-weight: light;
}


.nombre-reseña {
  margin-top: 15px;
  text-align: right;
}

/* query para reseñas */

@media (max-width: 768px) {
  .reseñas-grid {
    grid-template-columns: 1fr;
  }
}



/* formulario*/

form, .contacto h2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
}

.contacto {
    margin-top: 50px;
}

input, select, textarea {
    width: 100%;
    padding: 18px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    background-color: #fa84ba;
    border: none;
    border-radius: 12px;
    color: #0a204b;
}

::placeholder, select{
    color:#ffffff;
    /*color: #0a204b;*/
    font-weight: bold;
    font-size: 1rem; 
}

option {
    color:#fa84ba;
    background-color: #FFFFFF;
    font-weight: bold;
}
.botones-contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.botones-contacto button {
    width: 100%;
    padding: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    background-color:#000000;
    border: none;
    border-radius: 12px;
    color: #ffffff;
}

button:hover {
    background-color: #0a204b;
}

label {
    display:none;
}

/* query para formulario*/
@media (max-width: 768px) {
  .formulario {
    width: 100%;
    padding: 0 10px;
  }
}